.btn {
  border-radius: 20px;
  border: none;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.settings-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  text-align: left;
  margin-top: 20px;
}

.settings-container h1 {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: bold;
}

.profile-edit {
  margin-bottom: 40px;
  margin-left: 20px; /* Add left margin for indentation */
}

.question-inner {
  text-align: center;
}

.profile-edit h2 {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: left; /* Add text-align: left */
}

.profile-edit form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; /* Add left margin for indentation */
}

.profile-edit .form-group {
  margin-bottom: 15px;
}

.profile-edit label {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left; /* Add text-align: left */
}

.profile-edit input[type="text"],
.profile-edit input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.delete-account {
  margin-bottom: 40px;
  margin-left: 20px; /* Add left margin for indentation */
}

.delete-account h2 {
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left; /* Add text-align: left */
}

.delete-account p {
  font-size: 14px; /* Change the font size to 14px */
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left; /* Add text-align: left */
}

.settings-container button {
  margin-top: 10px;
  margin-left: 20px; /* Add left margin for indentation */
}

.delete-account button {
  margin-top: 20px;
  margin-left: 20px; /* Add left margin for indentation */
}

.profile-edit input[type="text"],
.profile-edit input[type="email"],
.settings-container button,
.delete-account button {
  font-family: "Montserrat", sans-serif;
}

.form-group {
  margin-bottom: 15px;
  width: 400px; /* Adjust the width as per your preference */
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid black;
}

.styled-table thead tr {
  background-color: #ff4b2b;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid black;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid black;
}

table,
th,
td {
  border: 1px solid;
}

.navbar {
  background-color: #ff4b2b;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  font-weight: bold;
}

.nav-item {
  margin-left: 20px;
  font-weight: bold;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffdecf;
}

.quiz {
  text-align: center;
}

.quiz-button {
  display: flex;
  justify-content: center;
}

.quiz-clock {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  text-decoration: none;
}

.navbar-container-quiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
}

.navbar-quiz {
  background-color: #ff4b2b;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
